<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'food.css')}}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="item">
                <a href="/radkaeng">
                    <img src="/static/food/1.jpg" alt="">
                </a>
                <p>ข้าวราดแกง</p>
            </div>
            <div class="item">
                <a href="/kubkao">
                    <img src="/static/food/2.jpg" alt="">
                </a>
                <p>กับข้าว</p>
            </div>
            <div class="item">
                <a href="/noodle">
                    <img src="/static/food/3.jpg" alt="">
                </a>
                <p>ก๋วยเตี๋ยวน้ำ</p>
            </div>
            <div class="item">
                <a href="/drynoodle">
                    <img src="/static/food/4.jpg" alt="">
                </a>
                <p>ก๋วยเตี๋ยวแห้ง</p>
            </div>
            <div class="item">
                <a href="/tanya">
                    <img src="/static/food/5.jpg" alt="">
                </a>
                <p>ธัญพืช</p>
            </div>
            <div class="item">
                <a href="/root">
                    <img src="/static/food/6.jpg" alt="">
                </a>
                <p>รากและหัวของพืช</p>
            </div>
            <div class="item">
                <a href="/seed">
                    <img src="/static/food/7.jpg" alt="">
                </a>
                <p>ผลไม้เปลือกแข็ง ถั่วเมล็ดแห้ง</p>
            </div>
            <div class="item">
                <a href="/vetgetable">
                    <img src="/static/food/8.jpg" alt="">
                </a>
                <p>ผัก</p>
            </div>
            <div class="item">
                <a href="/fruit">
                    <img src="/static/food/9.jpg" alt="">
                </a>
                <p>ผลไม้</p>
            </div>
            <div class="item">
                <a href="/meat">
                    <img src="/static/food/10.jpg" alt="">
                </a>
                <p>เนื้อสัตว์ทั่วไป</p>
            </div>
            <div class="item">
                <a href="/egg">
                    <img src="/static/food/11.avif" alt="">
                </a>
                <p>ไข่</p>
            </div>
            <div class="item">
                <a href="/milk">
                    <img src="/static/food/12.jpg" alt="">
                </a>
                <p>นม</p>
            </div>
            <div class="item">
                <a href="/prung">
                    <img src="/static/food/13.jpg" alt="">
                </a>
                <p>เครื่องเทศและเครื่องปรุง</p>
            </div>
            <div class="item">
                <a href="/snack">
                    <img src="/static/food/14.jpg" alt="">
                </a>
                <p>ขนมหวานและขนมขบเคี้ยว</p>
            </div>
            <div class="item">
                <a href="/jandeaw">
                    <img src="/static/food/15.jpg" alt="">
                </a>
                <p>อาหารจานเดียว</p>
            </div>
            <div class="item">
                <a href="/water">
                    <img src="/static/food/16.jpg" alt="">
                </a>
                <p>เนื้อสัตว์น้ำ</p>
            </div>
    </div>
</body>
</html>