.container{
    height : 100vh;
    width : 100%;
    background: url(./contactbackground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 40px;
    text-shadow: 5px 5px blueviolet;
}
.item{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;

}
.photo{
    display: block;
    box-sizing: border-box;
    width: 33.33%;
    padding-left: 50px;
    padding-right: 50px;
}
.name{
    text-align: center;
    color:azure;
    margin-top: 20px;
}
.idnum{
    text-align: center;
    color:rgba(83, 83, 221, 0.658);
    font-size: 30px;
    margin-top: 30px;
}
.contact{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    
    margin-top: 20px;
    
}
.logo{
    display: block;
    box-sizing: border-box;
    padding-right: 20px;
    
    
}
.edit{
    width: 100%;
    height: 100%;
}
.logo:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.3);
}
.photo:hover{
    box-shadow: 0 0 20px 2px blue;
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

