<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'contact.css')}}">
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>
                MEMBERS
            </h1>
        </div>
        <div class="item">
            <div class="photo">
                <img src="/static/mart.jpg" alt="" style="width:100%; height: 550px;" >
                <div class="idnum">
                    66070271
                </div>
                <div class="name">
                    THITIPAT SONPRASERTKUL
                </div>
                <div class="contact">
                    <a href="https://www.facebook.com/profile.php?id=100013789473415">
                        <div class="logo">
                            <img class = "edit" src="/static/Facebook_Logo_(2019).png.webp" alt="" style="width: 50px; height: 50px; ">
                        </div>
                    </a>
                    <a href="https://www.instagram.com/marttpq__/">
                        <div class="logo">
                            <img  class = "edit" src="/static/new-Instagram-logo-png-full-colour-glyph.png" alt="" style="width: 50px; height: 50px; ">
                        </div>
                    </a>
                </div>
            </div>
            <div class="photo">
                <img src="/static/fook.jpg" alt="" style="width:100%; height: 550px;">
                <div class="idnum">
                    66070098
                </div>
                <div class="name">
                    NORASET BUPPHA
                </div>
                <div class="contact" style="padding-left: 15px;">
                    <a href="https://www.facebook.com/noraset.buppha">
                        <div class="logo">
                            <img class = "edit" src="/static/Facebook_Logo_(2019).png.webp" alt="" style="width: 50px; height: 50px; ">
                        </div>
                    </a>
                    <a href="https://www.instagram.com/fooknarak/">
                        <div class="logo">
                            <img  class = "edit" src="/static/new-Instagram-logo-png-full-colour-glyph.png" alt="" style="width: 50px; height: 50px; ">
                        </div>
                    </a>
                </div>
            </div>
            <div class="photo">
                <img src="/static/poom.jpg" alt="" style="width:100%; height: 550px;">
                <div class="idnum">
                    66070120
                </div>
                <div class="name">
                    PONGSATORN KITJETNEE
                </div>
                <div class="contact" style="padding-left: 20px;">
                    <a href="https://www.facebook.com/Poompower.47">
                        <div class="logo">
                            <img class = "edit" src="/static/Facebook_Logo_(2019).png.webp" alt="" style="width: 50px; height: 50px; ">
                        </div>
                    </a>
                    <a href="https://www.instagram.com/_poompstk_/">
                        <div class="logo">
                            <img  class = "edit" src="/static/new-Instagram-logo-png-full-colour-glyph.png" alt="" style="width: 50px; height: 50px; ">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>