<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Result</title>
    <link rel="stylesheet" href="/static/resultfood.css">
</head>
<body>
    <div class="box">
        <h1><b>ผลลัพธ์อาหาร</b></h1>
        <table border="1">
            <tr>
                <th>ชื่อ</th>
                <th>น้ำหนัก</th>
                <th>แคลอรี</th>
                <th>โปรตีน</th>
                <th>ไขมัน</th>
                <th>คาร์โบไฮเดรต</th>
            </tr>
            {% for food in food_data %}
            <tr>
                <td>{{ food.name_food }}</td>
                <td>{{ food.food_weight }}</td>
                <td>{{ food.calories }}</td>
                <td>{{ food.protein }}</td>
                <td>{{ food.fat }}</td>
                <td>{{ food.carbohydrate }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
